table{
    border-collapse: collapse;
}

.entete{
    background-color: rgb(12, 12, 106);
    margin-top: 0;
}

.logo_ecole{
    vertical-align: middle;
}

.ecole{    
    width: 50vw;
}

.afficherUtilisateur{
    width: 50vw;
    text-align: end;
    padding-right: 30px;
    color: white;
}

.btn_deconnecter{
    width: 85;
    align-content: end;
    padding-right: 30px;
}

ul{
    list-style-type: none;    
}

ul li a{
    text-decoration: none;}

.dossier_academique{
    text-align: left;
    background-color: rgb(126, 188, 250);
    padding-block: 10px 30px;
    width: 100%;
}

.dossier_etudiant{
    text-align: left;
    background-color: rgb(126, 188, 250);
    padding-block: 10px 30px;
    width: 100%;
}

h3{
    background-color: rgb(7, 7, 51);
    color: white;
    padding-block: 10px 10px;
    padding-inline: 15px 15px;
    margin-top: 0;
}

.bienvenu{
    text-align: center;
    padding-block: 10px 30px;
    width: 84vw;
    padding-right: -100;
}

h2{
    color: rgb(7, 7, 51);
    margin-left: -10vw;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color:rgb(12, 12, 106);
    color: white;
    font-size: 1.2em;
    width: 100%;
  }